{
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}
             "central" {:url "https://repo1.maven.org/maven2/"}}

 :paths     ["src" "resources" "target/classes" "java/src"]

 :deps      {org.clojure/clojure                       {:mvn/version "1.11.1"}
             org.clojure/test.check                    {:mvn/version "1.1.1"}

             ;; spec
             metosin/malli                             {:mvn/version "0.8.4"}

             ;; file processing
             babashka/fs                               {:mvn/version "0.1.6"}

             ;; PlantUML
             net.sourceforge.plantuml/plantuml         {:mvn/version "1.2022.5"}

             ;; file changes events
             hawk/hawk                                 {:mvn/version "0.2.11"}

             ;; web server
             ring/ring-core                            {:mvn/version "1.9.5"}
             ring/ring-jetty-adapter                   {:mvn/version "1.9.5"}
             ring/ring-defaults                        {:mvn/version "0.3.3"}
             ring/ring-devel                           {:mvn/version "1.9.5"}

             ;;web router
             metosin/reitit                            {:mvn/version "0.5.18"}

             ;; html render
             hiccup/hiccup                             {:mvn/version "1.0.5"}


             ;; Command-line processing
             org.clojure/tools.cli                     {:mvn/version "1.0.206"}

             ;;logging
             io.pedestal/pedestal.log                  {:mvn/version "0.5.10"}
             org.apache.logging.log4j/log4j-core       {:mvn/version "2.17.2"}
             org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.17.2"}
             }

 :aliases   {
             :run      {:extra-paths ["resources"]
                        :jvm-opts    ["-DLOG4J_CONFIGURATION_FILE=resources/log4j2.xml"
                                      ]
                        :main-opts   ["--main" "org.rssys.gantt.core"]}

             :repl     {:extra-deps  {nrepl/nrepl          {:mvn/version "0.9.0"}
                                      healthsamurai/matcho {:mvn/version "0.3.9"}
                                      criterium/criterium  {:mvn/version "0.4.6"}
                                      hashp/hashp          {:mvn/version "0.2.1"}}
                        :extra-paths ["dev/src" "resources" "test" "test/resources"]
                        :jvm-opts    []
                        :main-opts   ["--main" "nrepl.cmdline"]}

             :test     {:extra-deps  {org.clojure/test.check        {:mvn/version "1.1.1"}
                                      healthsamurai/matcho          {:mvn/version "0.3.9"}
                                      lambdaisland/kaocha           {:mvn/version "1.66.1034"}
                                      lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}
                        :extra-paths ["resources" "test" "test/resources"]
                        :jvm-opts    []
                        :main-opts   ["--main" "kaocha.runner"]}

             :jar      {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                        :exec-fn      hf.depstar/jar
                        :jvm-opts    []
                        :exec-args    {:jar        "gantt.jar"
                                       :aot        true
                                       :exclude    [".*org.rssys.gantt.*\\.clj" ".*\\.java"]
                                       :main-class "org.rssys.gantt.core"
                                       :sync-pom   true
                                       :compile-ns [:all]}}

             :uberjar  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                        :exec-fn      hf.depstar/uberjar
                        :exec-args    {:jar        "gantt.jar"
                                       :aot        true
                                       :exclude    [".*org.rssys.gantt.*\\.clj" ".*\\.java"]
                                       :main-class "org.rssys.gantt.core"
                                       :sync-pom   true
                                       :compile-ns [:all]}}

             :install  {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                        :exec-fn      deps-deploy.deps-deploy/deploy
                        :exec-args    {:installer :local :artifact "gantt.jar"}}


             :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.7.798"}}
                        :main-opts  ["-m" "antq.core"]}

             }
 }
