{:scale           "320*180"
 :project-scale   :daily
 :project-title   "Title1"
 :project-header  "Header1"
 :project-footer  "Footer1"
 :hide-footbox?   true

 :project-content [{:task             "Task1"
                    :alias            :t1
                    :days-lasts       10
                    :percent-complete 20}]}
